* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  line-height: 1.7;
  box-sizing: border-box;
  font-family: monospace, sans-serif;
}
/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px #800080; 
  
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #663399; 
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #800080; 
}
.container {
  width: 100%;
max-width: 100%;
}
.navbar {
  display: flex;
  justify-content: space-between;
  font-size: 3rem;
  padding: 0px 10px;
  position: fixed;
  width: 100%;
 z-index: 1;
}
.navbar--colored{
background-color:#663399;
}

.logo {
  color: #fff;
  text-decoration: none;
  font-family: "Wide Latin", sans-serif;
}
.navbar-list {
  display: flex;
  list-style: none;
}
.list-item {
  padding: 0px 10px;
  transition:ease-in-out all .5s;
}
.list-item:hover {
  background-color: #800080;
}
.list-link {
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
}
.mobile-menu > .fa {
  color: #fff;
  font-size: 3rem;
  display: none;
}

.hero {
  background-image: url("../assets//images//background.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  position: relative;
}
.hero__content {
  position: absolute;
  top: 40%;
  left: 20%;
}
.heading-1{
  font-size: 5rem;
}
.heading-3{
  font-size: 2rem;
}
.hero-subtitle {
  font-size: 2rem;
  margin-bottom: 30px;
  width: 55%;
  
}
.btn{

  padding: 10px 20px;
  border-radius: 50px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.6rem;
  transition:ease-in-out .5s all;
}
.btn--white{
    background-color: #fff;
  color: black;
}
.btn--white:hover{
  background-color: #280F3D;
  color: #fff;
  box-shadow: 0 0 4px rgb(40, 15, 61),0 0 30px rgb(40, 15, 61),0 0 30px rgb(40, 15, 61);
}
.btn--purple{
  background-color: #663399;
  color: #fff;  
}
.btn--purple:hover{
    background-color: #280F3D;
    box-shadow: 0 0 4px rgb(40, 15, 61),0 0 30px rgb(40, 15, 61),0 0 30px rgb(40, 15, 61);
}
/* all sections color and padding */
.services,.work {
  background-color: rgba(138, 161, 162, 0.4);
}
.services,.skills,.work{
    padding-bottom: 10em;
}
/* all sections color and padding end*/
.sections-header {
  font-size: 2rem;
  text-align: center;
  padding-top: 5em;
}
.grid {
  margin-top: 10em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,450px));
  justify-content: center;

  grid-gap: 30px;
  text-align: center;
}


.service-col {
 
  background-color: #fff;
  font-size: 2rem;
    padding: 30px 50px;
  text-align: center;
  box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.5);
  border-radius: 30px;


}

.skills-icon {
  width: 200px;
}
.work{
   background-color: rgba(138, 161, 162, 0.4);
     padding-bottom: 10em;
     line-height: 2.5;
}
.work-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,930px));
  grid-gap: 30px;
margin-top: 10em;

align-items: start  ;
justify-content: center;

 text-align: center;


}
.project-name{
  font-size:2.5rem;
  padding:0 5px;
 
}

.work--col_image{
width: 100%;
  height: 100%;
    background-color: white;

  }
.work--col_image > img{
 width: 100%;
height: 100%;

}
.work--col_content{
  font-size:2rem;

  
}
.hire{
  width: 100%;
  text-align: center;
  background-color: #663399;
  height: 300px;

  
  color: #fff;
  padding-top: 50px;
  
}
.hire-text{
  line-height: 2;
font-size: 1.8rem;
margin-bottom: 10px;
}
.heading-2{
  font-size: 4rem;
}
.contact-subtitle{
  width: 80%;
  margin: 20px auto;
  font-size: 2.5rem;
}
.contact-form{
padding-top: 30px;
  width: 50%;
  margin: auto;
  font-size: 4rem;
}

.form-group > input{
  width: 100%;
  padding: 10px;
  outline:none;

}
textarea{
  margin-top: 30px;
  width: 100%;
  outline:none;
  padding-left: 10px;
}
.contact-form > input{
 width: 100%;
   color:#663399;
   border: #663399 solid 1px;
   padding: 5px 10px;
   font-weight: bold;
    font-size: 1.6rem;  
    background-color: #fff;
    
}
.contact-form > input:hover{
  background-color: #663399;
color: #fff;
border:none
}
.footer{
  margin-top: 50px;
  background-color: #663399;
  color: #fff;

  font-size: 3rem;
  text-align: center;
  padding-top: 50px;

}
.social-media-links{
  display: flex;
  justify-content: center;
  list-style: none;
  margin-bottom: 20px;

}
.social-media-links > li{
  border-radius: 50px;
  
}
.social-media-links > li:hover{
  background-color: #280F3D;

}
.social-media-link{
  color: inherit;
  margin: 20px;

}




@media screen and (max-width: 977px) {
  
  .navbar {

    background-color: #663399;
  }

  .navbar-list {
    flex-direction: column;
    background-color: #663399;
    width: 100%;
    text-align: center;
    height: 60vh;
    position: absolute;
    right: 0;
    top: 50px;
    display: none;
    z-index: 1;
  }
  .mobile-menu > .fa-times,
  .open > .mobile-menu > .fa-bars {
    display: none;
  }
  .mobile-menu > .fa-bars {
    display: initial;
  }
  .open > .mobile-menu > .fa-times,
  .open > .navbar-list {
    display: initial;
  }
}
.submited-form{
  background-color: #663399;
  text-align: center;
  padding-top: 30px;
  height: 400px;
  color: #fff;
  line-height: 3;
}
@media screen and (max-width: 800px) {
 
  .heading-1{
    font-size: 2.5rem;
  }
  .hero-subtitle {
    font-size: 1.6rem;
    width: 70%;
  }
  .primary-button {
    font-size: 1rem;
  }
  
}
@media screen and (max-width:500px){
  .hire{
    font-size: 1rem;
  }
  .heading-2{
    font-size: 2.5rem;
  }
}
